<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Buy</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <h2>Textbooks</h2>
    <table>
        <caption>Available Textbooks</caption>
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Price</th>
                <th>Location</th>
                <th>Contact</th>
            </tr>
        </thead>
        <tbody>
            <% books.forEach(book=> { %>
                <tr>
                    <td>
                        <%= book.title %>
                    </td>
                    <td>
                        <%= book.author %>
                    </td>
                    <td>$<%= book.price %>
                    </td>
                    <td>
                        <%= book.location %>
                    </td>
                    <td>
                        <button @click="openForm(<%= book.book_id %>, <% book.seller_id %>)">Message Seller</button>
                    </td>
                </tr>
                <% }) %>
        </tbody>
    </table>

    <div id="app">
        <div v-if="showForm">
            <h3>Send a message</h3>
            <form @submit.prevent="sendMessage">
                <textarea v-model="message" placeholder="write your message here..."></textarea>
                <input type="hidden" v-model="book_id">
                <input type="hidden" v-model="seller_id">
                <br>
                <button type="submit">Send</button>
                <button @click="showForm = false">Cancel</button>
            </form>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                showForm: false,
                seller_id
            }

        })
    </script>

</body>

</html>